<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dynamicminds.ffwsafetyalert">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCcW8BQYD8uQBS001UlstKHStsqdFLH2oo" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <service
            android:name=".SafetyAlert"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:label="SafetyAlertService"></service>
        <service
            android:name=".Speaker"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:label="SpeakerService"></service>

        <receiver android:name=".RestartBroadcasterReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ProximityIntentReceiver" >
            <intent-filter>
                <action android:name="ProximityIntentReceiver" />
            </intent-filter>
        </receiver>
    </application>

</manifest>